In [31]:
import json
import pandas as pd
import os
import numpy as np
import csv

In [18]:
filepath = os.getcwd()+'/raw_data/'
file_list = os.listdir(filepath)

In [52]:
name_list = list()
table_len_list = list()

for f in file_list:
    if '.csv' in f:
        path = filepath + f
        input_file = open(path,"r+")
        reader_file = csv.reader(input_file)
        t_name = f.split('.csv')[0]
        name_list.append(t_name)
        table_len_list.append(len(list(reader_file)) - 1)
Doc_ID = np.arange(len(name_list))

In [53]:
Table_Info = pd.DataFrame({'Doc_ID':Doc_ID,'Table_Name': name_list,'Table_Length':table_len_list})

In [54]:
Table_Info

   Doc_ID  Table_Length                                         Table_Name
0       0           231  2013 - 2015 New York State English Language Ar...
1       1            35               2013-2017 Citywide ELA Results - All
2       2            84             2013-2017 Citywide ELA Results - EvELL